<div class="content">
    <section>
        <h3>Matthew Grove</h3>
        <p>Software engineer & amateur photographer from Surrey, UK.</p>
        <p><a href="https://github.com/mgrove36/demo-code/tree/master{{ page.url | relative_url }}">View this page on GitHub.</a></p>
        <p><a href="{{ link donate/index.md }}">Can you support me?</a></p>
    </section>
    <section>
        <h4>Other Links</h4>
        <ul class="plain">
            {% for link in site.data.other-links %}
            <li><a href="{{ link.url }}" target="_blank"><i class="icon fa-{{ link.icon }}">&nbsp;</i>{{ link.title }}</a></li>
            {% endfor %}
        </ul>
    </section>
    <section>
        <h4>Social Media</h4>
        <ul class="plain">
            {% for link in site.data.social-media %}
            <li><a href="{{ link.url }}" target="_blank"><i class="icon fa-{{ link.icon }}">&nbsp;</i>{{ link.title }}</a></li>
            {% endfor %}
        </ul>
    </section>
</div>
<div class="copyright">
    &copy; Matthew Grove {{ "now" | date: "%Y" }}.
</div>