<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="HandheldFriendly" content="True">
    <link rel="icon" sizes="192x192" href="https://mgrove.uk/logo.png">

    <!-- add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="https://mgrove.uk/logo.png">

    <!-- add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="{{ page.title }} | Matthew Grove">
    <link rel="apple-touch-icon-precomposed" href="https://mgrove.uk/logo.png">

    <!-- tile icon & colour for Windows 8 -->
    <meta name="msapplication-TileImage" content="https://mgrove.uk/logo.png">
    <meta name="msapplication-TileColor" content="#d84315">

    <title>{{ page.title }} | Matthew Grove</title>
    <meta name="description" content="{{ page.description }} - by Matthew Grove">

    <!-- import Roboto (font) -->
    <link href="/css/roboto.css" rel="stylesheet" type="text/css">

    <!-- import jQuery -->
    <script src="/js/jquery.min.js" type="text/javascript"></script>

    <!-- import cookie JavaScript -->
    <script src="/js/cookies.js" type="text/javascript"></script>

    <!-- import Material Design components & icons -->
    <link href="/css/material-components-web.min.css" rel="stylesheet" type="text/css">
    <link href="/css/material_icons.css" rel="stylesheet" type="text/css">
    <script src="/js/material-components-web.min.js" type="text/javascript"></script>

    <!-- import local styling & scripts -->
    <script src="/js/global.js" type="text/javascript"></script>
    <link href="/css/global.css" rel="stylesheet" type="text/css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124505000-1" type="text/javascript"></script>
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-124505000-1');
    </script>
</head>
