<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="HandheldFriendly" content="True">
    <link rel="icon" sizes="192x192" href="https://mgrove.uk/logo.png">

    <!-- add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="https://mgrove.uk/logo.png">

    <!-- add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="{{ page.title }}">
    <link rel="apple-touch-icon-precomposed" href="https://mgrove.uk/logo.png">

    <!-- tile icon & colour for Windows 8 -->
    <meta name="msapplication-TileImage" content="https://mgrove.uk/logo.png">
    <meta name="msapplication-TileColor" content="#26174e">

    <!-- page info -->
    <title>{{ page.title }} | Matthew Grove</title>
    <meta name="description" content="{{ page.description }} | by Matthew Grove">
    <meta name="keywords" content="" />

    <!-- stylesheets -->
    <link rel="stylesheet" href="/assets/css/main.css" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124505000-1" type="text/javascript"></script>
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-124505000-1');
    </script>
</head>