<aside class="navbar-insert mdc-drawer mdc-drawer--modal">
    <div class="mdc-drawer__content">
        <div style="margin: 15px;text-align:center;">
            <img src="https://mgrove.uk/logo.png" style="width: 90%;"/>
        </div>
        <div class="mdc-list">
            <a class="mdc-list-item" href="https://blog.mgrove.uk">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">assignment</i>
                <span class="mdc-list-item__text">My Blog</span>
            </a>
            <a class="mdc-list-item" href="/">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">home</i>
                <span class="mdc-list-item__text">Home Page</span>
            </a>
            {% for project in site.pages | sort "title" %}
            {% if project.url != "/" %}
            <a class="mdc-list-item" href="{{ project.url | relative_url }}">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">{{ project.icon }}</i>
                <span class="mdc-list-item__text">{{ project.title }}</span>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</aside>

<div class="mdc-drawer-scrim"></div>
