/* Reading School 2018, CSS*/
iframe {
	width: 100%;
	border: none;
}
.mdc-top-app-bar--fixed-adjust {
	text-align: left;
	margin: 0 15%;
}
@media screen and (max-width: 1000px) {
	.mdc-top-app-bar--fixed-adjust {
		margin: 0 10%;
	}
}
@media screen and (max-width: 800px) {
	.mdc-top-app-bar--fixed-adjust {
		margin: 0 5%;
	}
}
@media screen and (max-width: 600px) {
	.mdc-top-app-bar--fixed-adjust {
		margin: 0 2%;
	}
}
@media screen and (max-width: 400px) {
	.mdc-top-app-bar--fixed-adjust {
		margin: 0 1%;
	}
}