/* Reading School 2018, CSS*/
.carousel-inner {
	height: 250px;
}
.carousel-inner .item {
	height: 100%;
}
.carousel-inner div {
	width: 100%;
	border: none;
	height: 100%;
}
.carousel-indicators li {
	border: 1px solid var(--mdc-theme-secondary);
}
.carousel-indicators .active {
	background-color: var(--mdc-theme-secondary);
}
.presentation-button-left {
	float: left;
}
.presentation-button-right {
	float: right;
}
/* ensure content below buttons doesn't cover them */
.presentation-buttons-container {
	width: 100%;
	min-height: 32px;
}

/* add side margins depending on screen size */
#main-content {
	text-align: left;
	margin: 20px 15%;
}
@media screen and (max-width: 1000px) {
	#main-content {
		margin: 20px 10%;
	}
}
@media screen and (max-width: 800px) {
	#main-content {
		margin: 20px 5%;
	}
}
@media screen and (max-width: 600px) {
	#main-content {
		margin: 20px;
	}
}
