/* implement colour theme on elements that don't have it applied by default */
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label, .mdc-list-item--activated .mdc-list-item__text, .mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic {
   color: var(--mdc-theme-primary);
}
.mdc-fab {
   background-color: var(--mdc-theme-secondary);
}

/* hide unwanted overflow from mdc-text-field :before & :after */
.mdc-text-field-container {
   overflow: hidden;
}
/* give space for mdc-text-field label to show properly when field is selected */
.mdc-text-field {
   margin-top: 5px;
}

body {
   font-family: 'Roboto', sans-serif;
   text-align: center;
}
.mdc-text-field-helper-text {
   margin-bottom: 10px;
}
.source-code-link {
   position: fixed;
   bottom: 15px;
   right: 25px;
}

/* for MDC navbar */
body {
    display: flex;
    height: 100vh;
    margin: 0;
}

.mdc-drawer-app-content {
    flex: auto;
    overflow: auto;
}

.main-content {
    overflow: auto;
}

.app-bar {
    position: absolute;
}
.main-content {
    margin-top: 20px;
}

/* for cookie notice */

#cookies {
    display: none;
    width: 100%;
    height: 70px;
    position: absolute;
    background: --mdc-theme-primary;
    color: --mdc-theme-background;
    text-align: center;
    bottom: 0;
    left: 0;
    z-index: 9999;
}

  #cookies > p {
    margin: 0 0 10px 0;
    font-weight: bold;
}

  #cookies > p a {
    color: #--mdc-theme-secondary;
    text-decoration: none;
}

#cookies.display {
    display: block;

    /* Cross browser animation */
    -webkit-animation: cookies 1s 1; /* Chrome, Safari 5+ */
    -moz-animation: cookies 1s 1; /* Firefox 5-15 */
    -ms-animation: cookies 1s 1; /* IE9 */
    -o-animation: cookies 1s 1; /* Opera 12.00 */
    animation: cookies 1s 1; /* Chrome, Firefox 16+, IE 10+, Opera 12.10+ */
}

@keyframes cookies {
    0%   {
        opacity: 0;
        -webkit-transform: translate3d(0,100px,0); /* Safari & Chrome */
        -moz-transform: translate3d(0,100px,0); /* Firefox */
        -ms-transform: translate3d(0,100px,0); /* IE9 */
        -o-transform: translate3d(0,100px,0); /* Opera */
        transform: translate3d(0,100px,0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0); /* Safari & Chrome */
        -moz-transform: translate3d(0,0,0); /* Firefox */
        -ms-transform: translate3d(0,0,0); /* IE9 */
        -o-transform: translate3d(0,0,0); /* Opera */
        transform: translate3d(0,0,0);
    }
}
@-webkit-keyframes cookies {
    0%   {
        -webkit-transform: translate3d(0,100px,0); /* Safari & Chrome */
        -moz-transform: translate3d(0,100px,0); /* Firefox */
        -ms-transform: translate3d(0,100px,0); /* IE9 */
        -o-transform: translate3d(0,100px,0); /* Opera */
        transform: translate3d(0,100px,0);
    }
    100% {
        -webkit-transform: translate3d(0,0,0); /* Safari & Chrome */
        -moz-transform: translate3d(0,0,0); /* Firefox */
        -ms-transform: translate3d(0,0,0); /* IE9 */
        -o-transform: translate3d(0,0,0); /* Opera */
        transform: translate3d(0,0,0);
    }
}
@-moz-keyframes cookies {
    0%   {
        -webkit-transform: translate3d(0,100px,0); /* Safari & Chrome */
        -moz-transform: translate3d(0,100px,0); /* Firefox */
        -ms-transform: translate3d(0,100px,0); /* IE9 */
        -o-transform: translate3d(0,100px,0); /* Opera */
        transform: translate3d(0,100px,0);
    }
    100% {
        -webkit-transform: translate3d(0,0,0); /* Safari & Chrome */
        -moz-transform: translate3d(0,0,0); /* Firefox */
        -ms-transform: translate3d(0,0,0); /* IE9 */
        -o-transform: translate3d(0,0,0); /* Opera */
        transform: translate3d(0,0,0);
    }
}
@-o-keyframes cookies {
    0%   {
        -webkit-transform: translate3d(0,100px,0); /* Safari & Chrome */
        -moz-transform: translate3d(0,100px,0); /* Firefox */
        -ms-transform: translate3d(0,100px,0); /* IE9 */
        -o-transform: translate3d(0,100px,0); /* Opera */
        transform: translate3d(0,100px,0);
    }
    100% {
        -webkit-transform: translate3d(0,0,0); /* Safari & Chrome */
        -moz-transform: translate3d(0,0,0); /* Firefox */
        -ms-transform: translate3d(0,0,0); /* IE9 */
        -o-transform: translate3d(0,0,0); /* Opera */
        transform: translate3d(0,0,0);
    }
}

.close-cookies {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;

  -webkit-transform: translate3d(0,100px,0); /* Safari & Chrome */
    -moz-transform: translate3d(0,100px,0); /* Firefox */
    -ms-transform: translate3d(0,100px,0); /* IE9 */
    -o-transform: translate3d(0,100px,0); /* Opera */
    transform: translate3d(0,100px,0);
}
