<!DOCTYPE HTML>
<html>

{% include head.html %}

<script src="/assets/js/jquery.min.js"></script>
	
<body class="is-preload">

	{% include header.html %}

	{% include cookie-notice.html %}

	<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<img src="https://mgrove.uk/logo-clear-square.png" class="banner-logo" />
			<h1>Matthew Grove</h1>
			<p>{{ page.description }}</p>
		</div>
	</section>

	<!-- Highlights -->
	<section class="wrapper">
		<div class="inner">
			<header class="special">
				<h2>Projects</h2>
				<p>{{ content }}</a></p>
			</header>
			<div class="highlights">

				{% for project in all_pages %}
				{% assign project_url_end = project.url | slice: -4, -1 %}
				{% if project.url != "/" and project.url != "/index.html" and project.url != "/sitemap.xml" and project_url_end != ".css" %}
				<section>
					<div class="content">
						<header>
							<a href="{{ project.url | relative_url }}" class="icon fa-{{ project.icon }}"><span class="label"></span></a>
							<h3>{{ project.title }}</h3>
						</header>
						<p>{{ project.description }}</p>
						<a href="{{ project.url | relative_url }}" class="button small">See more</a>
					</div>
				</section>
				{% endif %}
				{% endfor %}
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			{% include footer.html %}
		</div>
	</footer>
	
	{% include scripts.html %}

</body>

</html>